{% extends 'base.html.twig' %}

{% block title %}Accueil - CodeXpress{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Bienvenue sur CodeXpress</h1>
    <p>Ce projet démontre les fonctionnalités de base de Symfony.</p>
    <a href="{{ path('app_tp') }}" class="btn btn-primary">Voir mon TP</a>
</div>
{% endblock %}